Basic chapter for Pandas Introduction

In [26]:
import pandas as pd

In [30]:
numbers = [1,2,3,4,5,6,7,8,9]

In [31]:
pd.Series(numbers)

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
dtype: int64

In [32]:
letters = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i']

In [33]:
pd.Series(letters)

0    a
1    b
2    c
3    d
4    e
5    f
6    g
7    h
8    i
dtype: object

In [34]:
pd.Series(data = letters, index = numbers)

1    a
2    b
3    c
4    d
5    e
6    f
7    g
8    h
9    i
dtype: object

In [35]:
pd.Series(data = numbers, index = letters)

a    1
b    2
c    3
d    4
e    5
f    6
g    7
h    8
i    9
dtype: int64

In [41]:
pd.Series(data = numbers, index = ['ltr1', 'ltr2', 'ltr3', 'ltr4', 'ltr5', 'ltr6', 'ltr7', 'ltr8', 'ltr9'])

ltr1    1
ltr2    2
ltr3    3
ltr4    4
ltr5    5
ltr6    6
ltr7    7
ltr8    8
ltr9    9
dtype: int64

In [42]:
pd.Series(data = numbers, index = ['ltr1', 'ltr2', 'ltr3', 'ltr4', 'ltr5', 'ltr6', 'ltr7', 'ltr8']) #gives error since length is not the same

ValueError: Length of values (9) does not match length of index (8)

In [36]:
abc = pd.Series(data = numbers, index = letters)
abc

a    1
b    2
c    3
d    4
e    5
f    6
g    7
h    8
i    9
dtype: int64

In [38]:
dict1 = {'name': 'Sachin', 'age': 24, 'color': 'blue', 'fruit': 'mango'}

pd.Series(dict1)

In [39]:
print(pd.Series(dict1))

name     Sachin
age          24
color      blue
fruit     mango
dtype: object

In [43]:
pd.Series(data = dict1)

name     Sachin
age          24
color      blue
fruit     mango
dtype: object

In [45]:
pd.Series(data = dict1, index = ['name', 'age', 'check1', 'fruit']) #gives NaN for check1

name      Sachin
age           24
check1       NaN
fruit      mango
dtype: object

Attributes - Data / information about Object
Methods - perform actions on the Object, can change the Object

In [46]:
nb = [1,2,3,4]

In [47]:
ltr = ['a', 'b', 'c', 'd']

In [49]:
nb_series = pd.Series(nb)
nb_series

0    1
1    2
2    3
3    4
dtype: int64

###ATTRIBUTES - Info on the Series

In [69]:
nb_series.shape #shape of series as Tuples. usually used with dataframes

(4,)

In [71]:
nb_series.size

4

In [50]:
ltr_series = pd.Series(ltr)
ltr_series

0    a
1    b
2    c
3    d
dtype: object

In [52]:
nb_series.dtype

dtype('int64')

In [53]:
nb_series.values

array([1, 2, 3, 4])

In [54]:
nb_series.index

RangeIndex(start=0, stop=4, step=1)

In [78]:
nb_series.is_unique

True

In [81]:
nb_series.empty

False

In [80]:
incmp_series = pd.Series(data = [1,2,None], index = ['a', 'b', 'c'])
incmp_series

a    1.0
b    2.0
c    NaN
dtype: float64

In [83]:
incmp_series.hasnans

True

In [85]:
incmp_series2 = pd.Series(data = [1,2,3], index = ['a', 'b', 'c'])
incmp_series2
incmp_series2.hasnans

False

In [65]:
tup1 = ('a',1,True)
tup_series = pd.Series(tup1)

In [66]:
tup_series

0       a
1       1
2    True
dtype: object

In [67]:
tup_series.shape

(3,)

In [68]:
tup_series.size #based on number of elements?

3

In [75]:
list1 = [1,2,3] #checking shape on list1 will not work
list_series = pd.Series(list1)
list_series.shape

(3,)

METHODS

In [86]:
nb_series.min()

1

In [87]:
nb_series.max()

4

In [88]:
nb_series.sum()

np.int64(10)

In [113]:
list1a = [1, 3.0, 4.678986, None, 0.5]
ano_series = pd.Series(list1a)

In [91]:
ano_series

0    1.0
1    3.0
2    4.0
3    NaN
4    0.5
dtype: float64

In [98]:
ano_series.max()

4.0

In [99]:
ano_series.min() #does not consider the None value since it is not a number

0.5

In [100]:
ano_series.sum()

np.float64(8.5)

In [101]:
ano_series.mean()

np.float64(2.125)

In [103]:
ano_series.idxmax()

2

In [104]:
ano_series.idxmin()

4

In [107]:
ano_series.isnull()

0    False
1    False
2    False
3     True
4    False
dtype: bool

In [108]:
ano_series.round()

0    1.0
1    3.0
2    4.0
3    NaN
4    0.0
dtype: float64

In [114]:
ano_series.round(3) #need to have atleast 1 number with bigger decimals

0    1.000
1    3.000
2    4.679
3      NaN
4    0.500
dtype: float64

In [115]:
list2a = [-10, -3.03224, 4.678986, None, 1.5, 32432532]
a2_series = pd.Series(list2a)

In [116]:
a2_series

0   -1.000000e+01
1   -3.032240e+00
2    4.678986e+00
3             NaN
4    1.500000e+00
5    3.243253e+07
dtype: float64

In [118]:
a2_series.round(2)

0         -10.00
1          -3.03
2           4.68
3            NaN
4           1.50
5    32432532.00
dtype: float64

In [120]:
a2_series.abs().round(2)

0          10.00
1           3.03
2           4.68
3            NaN
4           1.50
5    32432532.00
dtype: float64

In [123]:
ano_series.add_prefix('Hi ')

Hi 0    1.000000
Hi 1    3.000000
Hi 2    4.678986
Hi 3         NaN
Hi 4    0.500000
dtype: float64

In [125]:
ano_series.add_suffix(' Bye')

0 Bye    1.000000
1 Bye    3.000000
2 Bye    4.678986
3 Bye         NaN
4 Bye    0.500000
dtype: float64

In [126]:
ano_series.agg('mean')

np.float64(2.2947465)

In [128]:
ano_series.mean()

np.float64(2.2947465)

In [130]:
ano_series.mean #does not give mean of the overall series

<bound method Series.mean of 0    1.000000
1    3.000000
2    4.678986
3         NaN
4    0.500000
dtype: float64>

In [132]:
ano_series.agg(['mean','sum','median', 'min', 'max'])

mean      2.294747
sum       9.178986
median    2.000000
min       0.500000
max       4.678986
dtype: float64

In [133]:
ano_series.all()

np.True_

In [134]:
list3a = [0, -3.03224, 4.678986, None, 1.5, 32432532]
a3_series = pd.Series(list3a)

In [135]:
a3_series.all()

np.False_

In [137]:
list4a = [False, -3.03224, 4.678986, None, 1.5, 32432532]
a4_series = pd.Series(list4a)

In [138]:
a4_series.all()

np.False_

In [139]:
a3_series.align(a4_series) #joins 2 lists

(0    0.000000e+00
 1   -3.032240e+00
 2    4.678986e+00
 3             NaN
 4    1.500000e+00
 5    3.243253e+07
 dtype: float64,
 0       False
 1    -3.03224
 2    4.678986
 3        None
 4         1.5
 5    32432532
 dtype: object)

In [140]:
list5a = [-3.03224, 4.678986, None, 1.5, 32432532]
a5_series = pd.Series(list5a)

In [141]:
a3_series.align(a5_series) #due to shape not being same, gives a NaN value at the end

(0    0.000000e+00
 1   -3.032240e+00
 2    4.678986e+00
 3             NaN
 4    1.500000e+00
 5    3.243253e+07
 dtype: float64,
 0   -3.032240e+00
 1    4.678986e+00
 2             NaN
 3    1.500000e+00
 4    3.243253e+07
 5             NaN
 dtype: float64)

In [142]:
a4_series.any() #Any value being True

np.True_

In [143]:
a4_series.argmax() #gives position of max nb

np.int64(5)

In [144]:
a4_series.argmin() #gives position of min nb

np.int64(1)

In [151]:
ano_series.dtype

dtype('float64')

In [152]:
ano_series.astype('str') #gives dtype as Object

0         1.0
1         3.0
2    4.678986
3         nan
4         0.5
dtype: object

In [158]:
richest1 = pd.read_csv('S:\Sachin\Career Study\Python\Sample Codes\SampleDataFiles\TopRichestInWorld.csv')

In [159]:
richest1

,Name,NetWorth,Age,Country/Territory,Source,Industry
0,Elon Musk,"$219,000,000,000",50,United States,"Tesla, SpaceX",Automotive
1,Jeff Bezos,"$171,000,000,000",58,United States,Amazon,Technology
2,Bernard Arnault & family,"$158,000,000,000",73,France,LVMH,Fashion & Retail
3,Bill Gates,"$129,000,000,000",66,United States,Microsoft,Technology
4,Warren Buffett,"$118,000,000,000",91,United States,Berkshire Hathaway,Finance & Investments
...,...,...,...,...,...,...
96,Vladimir Potanin,"$17,300,000,000",61,Russia,metals,Metals & Mining
97,Harold Hamm & family,"$17,200,000,000",76,United States,oil & gas,Energy
98,Sun Piaoyang,"$17,100,000,000",63,China,pharmaceuticals,Healthcare
99,Luo Liguo & family,"$17,000,000,000",66,China,chemicals,Manufacturing
100,Peter Woo,"$17,000,000,000",75,Hong Kong,real estate,Real Estate

In [161]:
type(richest1)

pandas.core.frame.DataFrame

In [162]:
richest1.head()

,Name,NetWorth,Age,Country/Territory,Source,Industry
0,Elon Musk,"$219,000,000,000",50,United States,"Tesla, SpaceX",Automotive
1,Jeff Bezos,"$171,000,000,000",58,United States,Amazon,Technology
2,Bernard Arnault & family,"$158,000,000,000",73,France,LVMH,Fashion & Retail
3,Bill Gates,"$129,000,000,000",66,United States,Microsoft,Technology
4,Warren Buffett,"$118,000,000,000",91,United States,Berkshire Hathaway,Finance & Investments

In [163]:
richest1.tail()

,Name,NetWorth,Age,Country/Territory,Source,Industry
96,Vladimir Potanin,"$17,300,000,000",61,Russia,metals,Metals & Mining
97,Harold Hamm & family,"$17,200,000,000",76,United States,oil & gas,Energy
98,Sun Piaoyang,"$17,100,000,000",63,China,pharmaceuticals,Healthcare
99,Luo Liguo & family,"$17,000,000,000",66,China,chemicals,Manufacturing
100,Peter Woo,"$17,000,000,000",75,Hong Kong,real estate,Real Estate

In [166]:
richest2 = pd.read_csv('S:\Sachin\Career Study\Python\Sample Codes\SampleDataFiles\TopRichestInWorld.csv', usecols = ['Name'])

In [167]:
richest2

                         Name
0                   Elon Musk
1                  Jeff Bezos
2    Bernard Arnault & family
3                  Bill Gates
4              Warren Buffett
..                        ...
96           Vladimir Potanin
97       Harold Hamm & family
98               Sun Piaoyang
99         Luo Liguo & family
100                 Peter Woo

[101 rows x 1 columns]

In [169]:
richest3 = pd.read_csv('S:\Sachin\Career Study\Python\Sample Codes\SampleDataFiles\TopRichestInWorld.csv', usecols = ['Name', 'Industry'])

In [170]:
richest3

                         Name               Industry
0                   Elon Musk             Automotive
1                  Jeff Bezos             Technology
2    Bernard Arnault & family       Fashion & Retail
3                  Bill Gates             Technology
4              Warren Buffett  Finance & Investments
..                        ...                    ...
96           Vladimir Potanin        Metals & Mining
97       Harold Hamm & family                 Energy
98               Sun Piaoyang             Healthcare
99         Luo Liguo & family          Manufacturing
100                 Peter Woo            Real Estate

[101 rows x 2 columns]

squeeze() converts read_csv col from df to Series

In [164]:
richest = pd.read_csv('S:\Sachin\Career Study\Python\Sample Codes\SampleDataFiles\TopRichestInWorld.csv', usecols = ['Name']).squeeze()

In [154]:
richest

0                     Elon Musk
1                    Jeff Bezos
2      Bernard Arnault & family
3                    Bill Gates
4                Warren Buffett
                 ...
96             Vladimir Potanin
97         Harold Hamm & family
98                 Sun Piaoyang
99           Luo Liguo & family
100                   Peter Woo
Name: Name, Length: 101, dtype: object

In [155]:
richest.dtype

dtype('O')

In [157]:
type(richest)

pandas.core.series.Series

In [171]:
richest.to_csv('S:\Sachin\Career Study\Python\Sample Codes\SampleDataFiles\TopRichest_copy.csv', index = False)

If Index is not False, creates additional column with Index.

In [172]:
richest3.to_csv('S:\Sachin\Career Study\Python\Sample Codes\SampleDataFiles\TopRichest_copy2.csv')

In [176]:
r4 = pd.read_csv('S:\Sachin\Career Study\Python\Sample Codes\SampleDataFiles\TopRichest_copy.csv')

In [183]:
type(r4) #container was Series, however once stored as file, is df by default

pandas.core.frame.DataFrame

Reads it as Dataframe by default when a new file is created

In [179]:
richest.head(10)

0                   Elon Musk
1                  Jeff Bezos
2    Bernard Arnault & family
3                  Bill Gates
4              Warren Buffett
5                  Larry Page
6                 Sergey Brin
7               Larry Ellison
8               Steve Ballmer
9               Mukesh Ambani
Name: Name, dtype: object

In [180]:
richest.head(-10) #Excluding last 10 rows

0                    Elon Musk
1                   Jeff Bezos
2     Bernard Arnault & family
3                   Bill Gates
4               Warren Buffett
                ...
86              Vladimir Lisin
87        Fan Hongwei & family
88              Lakshmi Mittal
89              Andrew Forrest
90     Jiang Rensheng & family
Name: Name, Length: 91, dtype: object

In [181]:
richest.tail(10)

91     Savitri Jindal & family
92                 Wang Wenyin
93                   Li Xiting
94              Stefan Persson
95                 Steve Cohen
96            Vladimir Potanin
97        Harold Hamm & family
98                Sun Piaoyang
99          Luo Liguo & family
100                  Peter Woo
Name: Name, dtype: object

In [182]:
richest.tail(-10) #excludes first 10 elements

10                     Gautam Adani & family
11                         Michael Bloomberg
12                 Carlos Slim Helu & family
13     Francoise Bettencourt Meyers & family
14                           Mark Zuckerberg
                       ...
96                          Vladimir Potanin
97                      Harold Hamm & family
98                              Sun Piaoyang
99                        Luo Liguo & family
100                                Peter Woo
Name: Name, Length: 91, dtype: object

In [184]:
richest

0                     Elon Musk
1                    Jeff Bezos
2      Bernard Arnault & family
3                    Bill Gates
4                Warren Buffett
                 ...
96             Vladimir Potanin
97         Harold Hamm & family
98                 Sun Piaoyang
99           Luo Liguo & family
100                   Peter Woo
Name: Name, Length: 101, dtype: object

In [187]:
richest.sort_values(axis=0)

74         Abigail Johnson
42        Alain Wertheimer
17            Alice Walton
22          Amancio Ortega
89          Andrew Forrest
              ...
4           Warren Buffett
54        William Lei Ding
85    Yang Huiyan & family
24            Zhang Yiming
16          Zhong Shanshan
Name: Name, Length: 101, dtype: object

axis 0 in case of Series. Useful for dataframes

In [189]:
richest.sort_values(axis=0, ascending = False)

16          Zhong Shanshan
24            Zhang Yiming
85    Yang Huiyan & family
54        William Lei Ding
4           Warren Buffett
              ...
89          Andrew Forrest
22          Amancio Ortega
17            Alice Walton
42        Alain Wertheimer
74         Abigail Johnson
Name: Name, Length: 101, dtype: object

In [190]:
richest.sort_values(axis=0, ascending = False, kind = 'quicksort') #quicksort is algo for sorting. 
# Other options include mergesort, heapsort, stable

16          Zhong Shanshan
24            Zhang Yiming
85    Yang Huiyan & family
54        William Lei Ding
4           Warren Buffett
              ...
89          Andrew Forrest
22          Amancio Ortega
17            Alice Walton
42        Alain Wertheimer
74         Abigail Johnson
Name: Name, Length: 101, dtype: object

In [193]:
richest.sort_values(axis=0, ascending = False, kind = 'quicksort', na_position = 'first') #NaN in first or last. Default is last

16          Zhong Shanshan
24            Zhang Yiming
85    Yang Huiyan & family
54        William Lei Ding
4           Warren Buffett
              ...
89          Andrew Forrest
22          Amancio Ortega
17            Alice Walton
42        Alain Wertheimer
74         Abigail Johnson
Name: Name, Length: 101, dtype: object

In [197]:
richest.sort_values(axis=0, ascending = True, kind = 'quicksort', na_position = 'last', ignore_index = True) #resets index on sorting

0           Abigail Johnson
1          Alain Wertheimer
2              Alice Walton
3            Amancio Ortega
4            Andrew Forrest
               ...
96           Warren Buffett
97         William Lei Ding
98     Yang Huiyan & family
99             Zhang Yiming
100          Zhong Shanshan
Name: Name, Length: 101, dtype: object

In [196]:
richest #original list since sorting does not change actual list

0                     Elon Musk
1                    Jeff Bezos
2      Bernard Arnault & family
3                    Bill Gates
4                Warren Buffett
                 ...
96             Vladimir Potanin
97         Harold Hamm & family
98                 Sun Piaoyang
99           Luo Liguo & family
100                   Peter Woo
Name: Name, Length: 101, dtype: object

In [231]:
rich_new2 = richest.copy()

In [315]:
rich_new2.sort_values(ascending = False, inplace = True, ignore_index = True) #inplace - original object is directly altered. 
#If false it means new SF or Series with modifications applied is returned

In [316]:
rich_new2

0            Zhong Shanshan
1              Zhang Yiming
2      Yang Huiyan & family
3          William Lei Ding
4            Warren Buffett
               ...
96           Andrew Forrest
97           Amancio Ortega
98             Alice Walton
99         Alain Wertheimer
100         Abigail Johnson
Name: Name, Length: 101, dtype: object

In [317]:
richest.sort_index(ascending = False)

100                   Peter Woo
99           Luo Liguo & family
98                 Sun Piaoyang
97         Harold Hamm & family
96             Vladimir Potanin
                 ...
4                Warren Buffett
3                    Bill Gates
2      Bernard Arnault & family
1                    Jeff Bezos
0                     Elon Musk
Name: Name, Length: 101, dtype: object

In [318]:
richest.sort_index(ascending = False, ignore_index = True)

0                     Peter Woo
1            Luo Liguo & family
2                  Sun Piaoyang
3          Harold Hamm & family
4              Vladimir Potanin
                 ...
96               Warren Buffett
97                   Bill Gates
98     Bernard Arnault & family
99                   Jeff Bezos
100                   Elon Musk
Name: Name, Length: 101, dtype: object

In [321]:
rich_new2

0           Abigail Johnson
1          Alain Wertheimer
2              Alice Walton
3            Amancio Ortega
4            Andrew Forrest
               ...
96           Warren Buffett
97         William Lei Ding
98     Yang Huiyan & family
99             Zhang Yiming
100          Zhong Shanshan
Name: Name, Length: 101, dtype: object

In [322]:
rich_new2.sort_index(ascending = False, ignore_index = True, inplace = True) #will hold the values

In [323]:
rich_new2

0            Zhong Shanshan
1              Zhang Yiming
2      Yang Huiyan & family
3          William Lei Ding
4            Warren Buffett
               ...
96           Andrew Forrest
97           Amancio Ortega
98             Alice Walton
99         Alain Wertheimer
100         Abigail Johnson
Name: Name, Length: 101, dtype: object

In [251]:
rich_ind = pd.read_csv('S:\Sachin\Career Study\Python\Sample Codes\SampleDataFiles\TopRichestInWorld.csv', usecols = ['Industry']).squeeze() 
#Industry is case sensitive

In [252]:
rich_ind

0                 Automotive
1                 Technology
2           Fashion & Retail
3                 Technology
4      Finance & Investments
               ...
96           Metals & Mining
97                    Energy
98                Healthcare
99             Manufacturing
100              Real Estate
Name: Industry, Length: 101, dtype: object

In [253]:
rich_ind.value_counts()

Industry
Fashion & Retail         18
Technology               15
Finance & Investments    13
Metals & Mining           9
Food & Beverage           8
Automotive                7
Diversified               6
Manufacturing             5
Healthcare                5
Media & Entertainment     4
Real Estate               3
Telecom                   2
Logistics                 2
Energy                    2
Gambling & Casinos        1
Service                   1
Name: count, dtype: int64

In [254]:
rich_ind.value_counts(normalize = True) #default is false. Converts to %

Industry
Fashion & Retail         0.178218
Technology               0.148515
Finance & Investments    0.128713
Metals & Mining          0.089109
Food & Beverage          0.079208
Automotive               0.069307
Diversified              0.059406
Manufacturing            0.049505
Healthcare               0.049505
Media & Entertainment    0.039604
Real Estate              0.029703
Telecom                  0.019802
Logistics                0.019802
Energy                   0.019802
Gambling & Casinos       0.009901
Service                  0.009901
Name: proportion, dtype: float64

In [255]:
rich_ind.value_counts(normalize = True).sum() #sum of value_counts in % since normalized

np.float64(1.0)

In [259]:
rich_ind.value_counts(sort = False) #Sorted in its own way (no sorting), else as per values

Industry
Automotive                7
Technology               15
Fashion & Retail         18
Finance & Investments    13
Diversified               6
Media & Entertainment     4
Telecom                   2
Food & Beverage           8
Logistics                 2
Real Estate               3
Metals & Mining           9
Manufacturing             5
Gambling & Casinos        1
Healthcare                5
Service                   1
Energy                    2
Name: count, dtype: int64

In [260]:
rich_ind.value_counts(normalize = True, ascending = True)

Industry
Gambling & Casinos       0.009901
Service                  0.009901
Telecom                  0.019802
Logistics                0.019802
Energy                   0.019802
Real Estate              0.029703
Media & Entertainment    0.039604
Manufacturing            0.049505
Healthcare               0.049505
Diversified              0.059406
Automotive               0.069307
Food & Beverage          0.079208
Metals & Mining          0.089109
Finance & Investments    0.128713
Technology               0.148515
Fashion & Retail         0.178218
Name: proportion, dtype: float64

In [262]:
rich_ind.value_counts(normalize = True, ascending = True, dropna = True) #default is False which means NA values are dropped, else it will be retained

Industry
Gambling & Casinos       0.009901
Service                  0.009901
Telecom                  0.019802
Logistics                0.019802
Energy                   0.019802
Real Estate              0.029703
Media & Entertainment    0.039604
Manufacturing            0.049505
Healthcare               0.049505
Diversified              0.059406
Automotive               0.069307
Food & Beverage          0.079208
Metals & Mining          0.089109
Finance & Investments    0.128713
Technology               0.148515
Fashion & Retail         0.178218
Name: proportion, dtype: float64

In [263]:
rich_age = pd.read_csv('S:\Sachin\Career Study\Python\Sample Codes\SampleDataFiles\TopRichestInWorld.csv', usecols = ['Age']).squeeze()

In [264]:
rich_age

0      50
1      58
2      73
3      66
4      91
       ..
96     61
97     76
98     63
99     66
100    75
Name: Age, Length: 101, dtype: int64

In [267]:
rich_age.value_counts(bins =  10) #splits into 10 groups, works with numerical data

(62.0, 68.4]      18
(55.6, 62.0]      15
(74.8, 81.2]      15
(49.2, 55.6]      14
(81.2, 87.6]      14
(68.4, 74.8]      12
(87.6, 94.0]       5
(36.4, 42.8]       4
(42.8, 49.2]       3
(29.935, 36.4]     1
Name: count, dtype: int64

In [268]:
ra2 = rich_age.value_counts(bins = 5) #splits into 10 groups

In [269]:
ra2.sort_values()

(29.935, 42.8]     5
(42.8, 55.6]      17
(81.2, 94.0]      19
(68.4, 81.2]      27
(55.6, 68.4]      33
Name: count, dtype: int64

In [270]:
type(ra2) #returns Series

pandas.core.series.Series

In [324]:
ra2.sort_index(ascending = False)

(81.2, 94.0]      19
(68.4, 81.2]      27
(55.6, 68.4]      33
(42.8, 55.6]      17
(29.935, 42.8]     5
Name: count, dtype: int64

In [325]:
ra2.tail(2)

(42.8, 55.6]      17
(29.935, 42.8]     5
Name: count, dtype: int64

In [326]:
ra2.sort_index(ascending = False).head(2)

(81.2, 94.0]    19
(68.4, 81.2]    27
Name: count, dtype: int64

In [272]:
richest.head()

0                   Elon Musk
1                  Jeff Bezos
2    Bernard Arnault & family
3                  Bill Gates
4              Warren Buffett
Name: Name, dtype: object

In [273]:
richest[4]

'Warren Buffett'

In [313]:
# ra2[3] gives error - to be checked

In [275]:
richest[[1,3,17,33,65,79]]

1           Jeff Bezos
3           Bill Gates
17        Alice Walton
33          Ma Huateng
65    Guillaume Pousaz
79     Thomas Peterffy
Name: Name, dtype: object

In [276]:
richest[5:10] #slicing

5       Larry Page
6      Sergey Brin
7    Larry Ellison
8    Steve Ballmer
9    Mukesh Ambani
Name: Name, dtype: object

In [282]:
richest[5:21:3] #3 is step

5            Larry Page
8         Steve Ballmer
11    Michael Bloomberg
14      Mark Zuckerberg
17         Alice Walton
20         Charles Koch
Name: Name, dtype: object

In [284]:
richest[:10] #same as head 10

0                   Elon Musk
1                  Jeff Bezos
2    Bernard Arnault & family
3                  Bill Gates
4              Warren Buffett
5                  Larry Page
6                 Sergey Brin
7               Larry Ellison
8               Steve Ballmer
9               Mukesh Ambani
Name: Name, dtype: object

In [286]:
richest[:-5] #same as head -5

0                    Elon Musk
1                   Jeff Bezos
2     Bernard Arnault & family
3                   Bill Gates
4               Warren Buffett
                ...
91     Savitri Jindal & family
92                 Wang Wenyin
93                   Li Xiting
94              Stefan Persson
95                 Steve Cohen
Name: Name, Length: 96, dtype: object

In [290]:
richest[-5:] #same as tail 5

96         Vladimir Potanin
97     Harold Hamm & family
98             Sun Piaoyang
99       Luo Liguo & family
100               Peter Woo
Name: Name, dtype: object

In [292]:
richest[-5] #gives value error, instead use above method, slice operator

KeyError: -5

In [289]:
richest[-10:-2]

91    Savitri Jindal & family
92                Wang Wenyin
93                  Li Xiting
94             Stefan Persson
95                Steve Cohen
96           Vladimir Potanin
97       Harold Hamm & family
98               Sun Piaoyang
Name: Name, dtype: object

In [293]:
richest.index #shows what index looks like

RangeIndex(start=0, stop=101, step=1)

In [294]:
richest.values #gives array of values

array(['Elon Musk', 'Jeff Bezos', 'Bernard Arnault & family',
       'Bill Gates', 'Warren Buffett', 'Larry Page', 'Sergey Brin',
       'Larry Ellison', 'Steve Ballmer', 'Mukesh Ambani',
       'Gautam Adani & family', 'Michael Bloomberg',
       'Carlos Slim Helu & family',
       'Francoise Bettencourt Meyers & family', 'Mark Zuckerberg',
       'Jim Walton', 'Zhong Shanshan', 'Alice Walton', 'Rob Walton',
       'Changpeng Zhao', 'Charles Koch', 'Julia Koch & family',
       'Amancio Ortega', 'Michael Dell', 'Zhang Yiming',
       'David Thomson & family', 'Phil Knight & family', 'Dieter Schwarz',
       'Robin Zeng', 'MacKenzie Scott', 'Rodolphe SaadÃ© & family',
       'FranÃ§ois Pinault & family', 'Klaus-Michael Kuehne', 'Ma Huateng',
       'Beate Heister & Karl Albrecht Jr. & family', 'Giovanni Ferrero',
       'Li Ka-shing', 'Stephen Schwarzman', 'Lee Shau Kee',
       'Len Blavatnik', 'Jacqueline Mars', 'John Mars',
       'Alain Wertheimer', 'Gerard Wertheimer',
       'German Larrea Mota Velasco & family', 'Gina Rinehart',
       'Shiv Nadar', 'Jim Simons', 'He Xiangjian', 'Miriam Adelson',
       'Dietrich Mateschitz', 'Leonardo Del Vecchio & family',
       'Ken Griffin', 'Tadashi Yanai & family', 'William Lei Ding',
       'Susanne Klatten', 'Cyrus Poonawalla', 'Wang Wei', 'Qin Yinglin',
       'Sam Bankman-Fried', 'Takemitsu Takizaki', 'Li Shufu',
       'Emmanuel Besnier', 'R. Budi Hartono', 'Leonard Lauder',
       'Guillaume Pousaz', 'Iris Fontbona & family', 'Jack Ma',
       'Michael Hartono', 'Eric Schmidt', 'Ray Dalio', 'Daniel Gilbert',
       'Thomas Frist, Jr. & family', 'Masayoshi Son', 'Abigail Johnson',
       'Rupert Murdoch & family', 'Stefan Quandt', 'Jensen Huang',
       'Huang Shilin', 'Thomas Peterffy', 'Radhakishan Damani',
       'Pang Kang', 'Wang Chuanfu', 'Reinhold Wuerth & family',
       'Theo Albrecht, Jr. & family', 'Yang Huiyan & family',
       'Vladimir Lisin', 'Fan Hongwei & family', 'Lakshmi Mittal',
       'Andrew Forrest', 'Jiang Rensheng & family',
       'Savitri Jindal & family', 'Wang Wenyin', 'Li Xiting',
       'Stefan Persson', 'Steve Cohen', 'Vladimir Potanin',
       'Harold Hamm & family', 'Sun Piaoyang', 'Luo Liguo & family',
       'Peter Woo'], dtype=object)

In [297]:
rich_nmIdx =   pd.read_csv('S:\Sachin\Career Study\Python\Sample Codes\SampleDataFiles\TopRichestInWorld.csv', 
                           usecols = ['Name', 'NetWorth'],
                           index_col = 'Name').squeeze()

In [298]:
rich_nmIdx

Name
Elon Musk                   $219,000,000,000
Jeff Bezos                  $171,000,000,000
Bernard Arnault & family    $158,000,000,000
Bill Gates                  $129,000,000,000
Warren Buffett              $118,000,000,000
                                  ...
Vladimir Potanin             $17,300,000,000
Harold Hamm & family         $17,200,000,000
Sun Piaoyang                 $17,100,000,000
Luo Liguo & family           $17,000,000,000
Peter Woo                    $17,000,000,000
Name: NetWorth, Length: 101, dtype: object

In [299]:
rich_nmIdx['Elon Musk']

'$219,000,000,000'

In [300]:
rich_nmIdx[4] #being deprecated, use the one below instead

C:\Users\skarn\AppData\Local\Temp\ipykernel_4332\2856989117.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  rich_nmIdx[4]

'$118,000,000,000'

In [301]:
rich_nmIdx.iloc[4]

'$118,000,000,000'

In [305]:
rich_nmIdx[['Elon Musk', 'Mukesh Ambani']]

Name
Elon Musk        $219,000,000,000
Mukesh Ambani     $90,700,000,000
Name: NetWorth, dtype: object

In [308]:
rich_nmIdx[['Elon Musk', 'Mukesh Ambani', 'Jeff Bezos']]

Name
Elon Musk        $219,000,000,000
Mukesh Ambani     $90,700,000,000
Jeff Bezos       $171,000,000,000
Name: NetWorth, dtype: object

In [306]:
rich_nmIdx['Elon Musk' : 'Mukesh Ambani'] #Slicing using named indexes

Name
Elon Musk                   $219,000,000,000
Jeff Bezos                  $171,000,000,000
Bernard Arnault & family    $158,000,000,000
Bill Gates                  $129,000,000,000
Warren Buffett              $118,000,000,000
Larry Page                  $111,000,000,000
Sergey Brin                 $107,000,000,000
Larry Ellison               $106,000,000,000
Steve Ballmer                $91,400,000,000
Mukesh Ambani                $90,700,000,000
Name: NetWorth, dtype: object

In [310]:
rich_nmIdx[0:10]

Name
Elon Musk                   $219,000,000,000
Jeff Bezos                  $171,000,000,000
Bernard Arnault & family    $158,000,000,000
Bill Gates                  $129,000,000,000
Warren Buffett              $118,000,000,000
Larry Page                  $111,000,000,000
Sergey Brin                 $107,000,000,000
Larry Ellison               $106,000,000,000
Steve Ballmer                $91,400,000,000
Mukesh Ambani                $90,700,000,000
Name: NetWorth, dtype: object

In [312]:
rich_nmIdx.index

Index(['Elon Musk', 'Jeff Bezos', 'Bernard Arnault & family', 'Bill Gates',
       'Warren Buffett', 'Larry Page', 'Sergey Brin', 'Larry Ellison',
       'Steve Ballmer', 'Mukesh Ambani',
       ...
       'Savitri Jindal & family', 'Wang Wenyin', 'Li Xiting', 'Stefan Persson',
       'Steve Cohen', 'Vladimir Potanin', 'Harold Hamm & family',
       'Sun Piaoyang', 'Luo Liguo & family', 'Peter Woo'],
      dtype='object', name='Name', length=101)